body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1093px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(109, 109, 109, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 23px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 23px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 23px rgba(0, 0, 0, 0.349019607843137);
}
#u35 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:113px;
  width:375px;
  height:667px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-23px;
  width:392px;
  height:91px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:719px;
  width:346px;
  height:45px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:346px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-23px;
  width:392px;
  height:91px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:661px;
  width:346px;
  height:45px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:346px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-23px;
  width:392px;
  height:90px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:602px;
  width:346px;
  height:44px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-23px;
  width:392px;
  height:90px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:543px;
  width:346px;
  height:44px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-23px;
  width:75px;
  height:63px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:614px;
  width:29px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-23px;
  width:89px;
  height:63px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:555px;
  width:43px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(165, 165, 165, 1);
  border:none;
  border-radius:75px;
  -moz-box-shadow:0px 0px 23px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 23px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 23px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:249px;
  width:150px;
  height:150px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:59px;
  width:146px;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:114px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:114px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:31px;
  height:666px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:666px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:114px;
  width:30px;
  height:666px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:108px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:780px;
  width:436px;
  height:108px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:888px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:114px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:0px;
  width:436px;
  height:114px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:114px;
  width:31px;
  height:666px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:666px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:114px;
  width:30px;
  height:666px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:108px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:780px;
  width:436px;
  height:108px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:888px;
  width:436px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:325px;
  background:inherit;
  background-color:rgba(165, 165, 165, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:114px;
  width:375px;
  height:325px;
  font-size:14px;
  color:#FFFFFF;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:342px;
  background:inherit;
  background-color:rgba(196, 208, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:439px;
  width:1px;
  height:342px;
  font-size:14px;
  color:#FFFFFF;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:342px;
  background:inherit;
  background-color:rgba(196, 208, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:439px;
  width:1px;
  height:342px;
  font-size:14px;
  color:#FFFFFF;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
  background:inherit;
  background-color:rgba(196, 208, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:524px;
  width:375px;
  height:1px;
  font-size:14px;
  color:#FFFFFF;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
  background:inherit;
  background-color:rgba(196, 208, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:609px;
  width:375px;
  height:1px;
  font-size:14px;
  color:#FFFFFF;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
  background:inherit;
  background-color:rgba(196, 208, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:694px;
  width:375px;
  height:1px;
  font-size:14px;
  color:#FFFFFF;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:725px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
  background:inherit;
  background-color:rgba(196, 208, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:439px;
  width:375px;
  height:1px;
  font-size:14px;
  color:#FFFFFF;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:302px;
  width:60px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:302px;
  width:60px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:302px;
  width:60px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:302px;
  width:60px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:456px;
  width:20px;
  height:54px;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:542px;
  width:20px;
  height:54px;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:456px;
  width:20px;
  height:54px;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:542px;
  width:20px;
  height:54px;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:456px;
  width:20px;
  height:54px;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:542px;
  width:20px;
  height:54px;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:627px;
  width:20px;
  height:54px;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:627px;
  width:20px;
  height:54px;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:627px;
  width:20px;
  height:54px;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:707px;
  width:20px;
  height:54px;
  font-family:''Lato-Light' Regular', ''Lato-Light'';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  line-height:54px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:27px;
  color:#000000;
  text-align:center;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:186px;
  width:190px;
  height:85px;
  font-size:27px;
  color:#000000;
  text-align:center;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:113px;
  width:375px;
  height:20px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:118px;
  width:22px;
  height:11px;
  opacity:0.4;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:4px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:121px;
  width:1px;
  height:4px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:120px;
  width:18px;
  height:7px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont Regular', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:117px;
  width:33px;
  height:14px;
  font-family:'.AppleSystemUIFont Regular', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:116px;
  width:8px;
  height:14px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont Regular', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:117px;
  width:49px;
  height:14px;
  font-family:'.AppleSystemUIFont Regular', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:118px;
  width:15px;
  height:10px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:116px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:114px;
  width:375px;
  height:20px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:119px;
  width:22px;
  height:11px;
  opacity:0.4;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:4px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:122px;
  width:1px;
  height:4px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:121px;
  width:18px;
  height:7px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont Regular', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:118px;
  width:33px;
  height:14px;
  font-family:'.AppleSystemUIFont Regular', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:117px;
  width:8px;
  height:14px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont Regular', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:118px;
  width:49px;
  height:14px;
  font-family:'.AppleSystemUIFont Regular', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:119px;
  width:15px;
  height:10px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:117px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
